*.png
.config/waybar/themes/*

.vscode

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

# Config files that represent local settings
.config/nvim/lazyvim.json
.config/nvim/lazy-lock.json

.config/fish
.config/go

tmux/plugins/
fzf